<ul class='stats_ul'>
    <li class='specifications'>Сила: <?php  echo $user_stats['str']?></li>
    <li class='specifications'>Скорость: <?php  echo $user_stats['speed']?></li>
    <li class='specifications'>Ловкость: <?php  echo $user_stats['dexterity']?></li>
    <li class='specifications'>Выносливость: <?php  echo $user_stats['stamina']?></li>
    <li class='specifications'>Стойкость: <?php  echo $user_stats['durability']?></li>
    <li class='specifications'>Рефлексы: <?php  echo $user_stats['reflexes']?></li>
    <li class='specifications'>Меткость: <?php  echo $user_stats['accuracy']?></li>
    <li class='specifications'>Интеллект: <?php  echo $user_stats['intelligence']?></li>
    <li class='specifications'>Мудрость: <?php  echo $user_stats['wisdom']?></li>
    <li class='specifications'>Интуиция: <?php  echo $user_stats['intuition']?></li>
    <li class='specifications'>Память: <?php  echo $user_stats['memory']?></li>
    <li class='specifications'>Харизма: <?php  echo $user_stats['charisma']?></li>
    <li class='specifications'>Дух: <?php  echo $user_stats['mind']?></li>
    <li class='specifications'>Удача: <?php  echo $user_stats['lucky']?></li>
</ul>

<?php 
$add = echo "<a href='D:/os/OSPanel/domains/ichiru/engine/user/addpoint.php'>+</a>";

if(!empty($user_stats_main["user_sp"])){$add}

echo "
<li class='specifications'>Сила: $user_stats['str'] </li>
";

?>














<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://ichiru/templates/css/styles.css">
</head>
<body style="background: #343436;">
    <form enctype="multipart/form-data" action="/engine/user/addcharacter_config.php" method="post" name="form_addcharacter" class="form_addcharacter" id="form_addcharacter">
    <ul class="form-add">
        <li>
            <label>Имя</label>
            <input type="text" name="name" placeholder="Имя персонажа" class="input" data-validate>
        </li>
        <li>
            <label>Возраст</label>
            <input type="text" name="age" placeholder="Фамилия персонажа" class="input" data-validate>
        </li>
        <li>
            <label>Пол</label>
            <select name="genre" form="form_addcharacter" size = "1" required>
                <option value="Мужчина">Мужчина</option>
                <option value="Женщина">Женщина</option>
           </select>
        </li>
        <li class="select">
            <label>раса</label>
            <select name="race" form="form_addcharacter" size = "1" required>
                <option value="high elf">Высший Эльф</option>
                <option value="forest elf">Лесной эльф</option>
                <option value="night elf">Ночной эльф</option>
                <option value="dark elf">Тёмный эльф</option>
                <option value="grey elf">Серый Эльф</option>
                <option value="sun elf">Солнечный эльф</option>
                <option value="sand elf">Песчаный эльф</option>
                <option value="sea elf">Морской эльф</option>
                <option value="snow elf">Снежный эльф</option>
                <option value="blood elf">Кровавый Эльф</option>
                <option value="ork">Орк</option>
                <option value="dvorf">Дворф</option>
                <option value="gnom">Гном</option>
                <option value="semicircular">Полурослик</option>
                <option value="semicircular">Гоблин</option>
           </select>
        </li>
        <li>
            <label>Характер</label>
            <select name="character" form="form_addcharacter" size = "1" required>
                <option value="Добропорядочный">Добропорядочный</option>
                <option value="Нейтральный">Нейтральный</option>
                <option value="Злонамерный">Злонамерный</option>
           </select>
        </li>
        <li>
            <label>Внешность</label>
            <input type="file" name="avatar" required>
        </li>
        <li>
            <label>Мировозрение</label>
            <select name="worldview" form="form_addcharacter" size = "1" required>
                <option value="научное">научное</option>
                <option value="суеверное">суеверное</option>
                <option value="обыденное">обыденное</option>
                <option value="религиозное">религиозное</option>
                <option value="философское">философское</option>
           </select>
        </li>
         <li>
            <label>Жизненная цель</label>
            <select name="life goal" form="form_addcharacter" size = "1" required>
                <option value="Убить всех">Убить всех</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
           </select>
        </li>
         <li>
            <label>Хобби</label>
            <select name="hobby" form="form_addcharacter" size = "1" required>
                <option value="Работать в кузне">Работать в кузне</option>
                <option value="Читать книги">Читать книги</option>
                <option value="Торговать">Торговать</option>
                <option value="Нападать на путников">Нападать на путников</option>
           </select>
        </li>
        <li>
            <label>Снаряжение</label>
            <select name="equipment" form="form_addcharacter" size = "1" required>
                <option value="Тяжелый воин">Тяжелый воин</option>
                <option value="Обычный воин">Обычный воин</option>
                <option value="Рейнджер">Рейнджер</option>
                <option value="Маг">Маг</option>
                <option value="Обычное">Обычное</option>
           </select>
        </li>
        <li>
            <label>Магия, активные способности, пассивные способности, расовые способности</label>
            <select size="6" name="skill" form="form_addcharacter" required>
                <option value="5">Одноручное дробящее оружие</option>
                <option value="Парирование">Парирование</option>
                <option value="Магическое мастерство">Магическое мастерство</option>
                <option value="Скрытность">Скрытность</option>
           </select>
        </li>
         <li>
            <label>Языки</label>
            <select multiple name="language" form="form_addcharacter" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
           </select>
        </li>
         <li>
            <label>Отношения с другими расами</label>
            <select name="relations" form="form_addcharacter" size = "1" required>
                <option value="Доверие">Доверие</option>
                <option value="Дружба">Дружба</option>
                <option value="Нейтральное">Нейтральное</option>
                <option value="Вражда">Вражда</option>
           </select>
        </li>
        <li>
            <label>Предыстория</label>
            <select name="prehistory" form="form_addcharacter" size = "1" required>
                <option value="Ученик академии">Ученик академии</option>
                <option value="Сын кузнеца">Сын кузнеца</option>
                <option value="Бежавший дворянин">Бежавший дворянин</option>
                <option value="Родился жил умер..">Родился жил умер..</option>
           </select>
        </li>
        <li class="exit_add">
            <a href='http://ichiru/engine/user/exit.php' class='HeaderUserNickname'>Назад</a>
            <input type="submit" class="submit" />
        </li>
    </ul>
    </form>
</body>
</html>
















/* =========== © 2016 Centroarts.com =========== */

/* Шапка */

*{
    font-size: 15px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    transition: .2s ease;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: #100f15;
}
button{
    background: #23232f;
    padding: 5px;
    margin: 3px 0;
}
textarea{
    height: 14%;
    width: 99%;
    margin: 2px;
    background: #16161e;
}

a{
    color: #fff;
}

li{
    list-style: none;
    text-decoration: none;
}
li{
    /* font-size: 21px; */
    list-style: none;
    /* align-items: center; */
    justify-content: center;
    margin: 7px;}
img{
    margin: 10px;
}
.header {
max-width: 1920px;
width: 100%;
min-height: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.header-wrapper {
max-width: 1366px;
width: 100%;
min-height: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #666;
}
.header-menu-wrapper {
max-width: 1366px;
width: 100%;
min-height: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
background: #343436;
}
.head-menu {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}

/* header 1*/
.header_logo{
    align-items: center;
    display: flex;
    justify-content: center;
}
.link_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form > p{
    align-items: center;
    display: flex;
    justify-content: center;
}
form > li > input{
    color: #000;
}
input.submit{
    background: #343436;
    border: #343436;
    padding: 5px;
}
input.submit:focus{
    border: #343436;
}

/* Аватарка */
.avatar-wrapp{
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: row;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.avatar img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px;
    object-fit: cover;
}
.hp-mp-st-bar{
background:#666;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
margin: 15px;
padding:5px;
}
.hp-bar{
    margin: 2px;
    background: #FF1828;
    width: 120px;
    height: 15px;
}
.mp-bar{
    margin: 2px;
    background: #000BDB;
    width: 120px;
    height: 15px;
}
.st-bar{
    margin: 2px;
    background: #0AD902;
    width: 120px;
    height: 15px;
}
/* Map */
.map-wrapp{
display: flex;
justify-content: flex-end;
align-items: flex-end;
flex-direction: column;
margin: 5px;
}
.map-wrapp1{
display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin: 5px;
    background: url(/uploads/logo/map.jpg);
    width: 100%;
    height: 197%;
    background-size: contain;
}
.map img{
display: flex;
justify-content: flex-end;
align-items: flex-end;
flex-direction: column;
max-width: 65px;
}
/* Menu */

.menu-wrapper{
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
    flex-direction: row;

}
/*.menu-list{
margin: 5px;
background: #343436;
border-radius: 50%;
width:120px;
height:120px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

/* stats*/
.content-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.stats-wrapp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
        padding: 20px;
}
.status:focus .stats-wrapp{
    display:block;
}

.specifications li{
    margin: 4px;
    color: #fff;
}
span{
    font-size: 20px;
}
.stats-wrapp-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stats-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
ul.stats_ul{
    margin-left: 20px;
}
/*ul{
    margin-left: 10px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}*/
.general-stats li{
    margin: 6px;
}
.text-status{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* skill */

.skill-wrapp{
    background: #343436;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.skill-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-name{
    display: flex;
    width: 120px;
    height: 100px;
    background: #666;
    margin: 10px 0px 10px 10px;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}
.skill-desc{
        display: flex;
    height: 100px;
    margin: 10px;
    width: 900px;
    background: #666;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* inventory */

.inventory-wrapp{
    background: #343436;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.inventory-slot{
    background: #666;
    margin: 6px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inventory-slot:hover{
-webkit-box-shadow: 0px 0px 8px 4px rgba(214,214,214,1);
-moz-box-shadow: 0px 0px 8px 4px rgba(214,214,214,1);
box-shadow: 0px 0px 8px 4px rgba(214,214,214,1);
cursor: pointer
}
.inventory-list{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
/* equipment */

.equipment-wrapp{
    background: #343436;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.equipment-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.equipment-list-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.equipment-link{
    background: #666;
    margin: 6px;
    width: 60px;
    height: 60px;
}
.equipment-list-art{
    background: #666;
    margin: 6px;
    width: 250px;
    height: 400px;
}
.equipment-list-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* guild */

.guild-wrapp{
    background: #343436;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.guild-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.guild-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.guild-name{
    width: 100px;
    height: 100px;
    margin: 10px 0px 10px 10px;
    background: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.guild-desc{
    width: 100%;
    height: 100px;
    margin: 10px;
    background: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Start-game-menu*/

.start-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nick-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nick-name h2 {
    font-size: 20px;
}

.class-pers-tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table{
    margin: 10px;
}
span{
}
a{
    text-decoration: none;
    font-size: 20px;
}
.right{
    margin:10px;
}
/* Quest */
.quest_wrap{
        background: #343436;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.quest_1{
    background: #666;
    padding: 6px;
    width: 100%;
}
.form_quest{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form_quest > input{
    color: #000;
        padding: 5px;
}
input.submit1{
    background: #343436;
    border: #343436;
    font-size: 17px;
    color: #fff;
}
/* friend */
.friend-wrapp{
    background: #343436;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.friend{
    background: #666;
    padding: 6px;
    width: 100%;
}
.line{
    width: 100%;
    padding: 7px;
}
/* Боковая панель*/

.tabs_container {
    background: #343436;
    font-size: 20px;
}
.hide, .tab_content {
    display:none;
    width: 100%;
}
.hide + label {
    display:inline-block;
    color :#fff;
    order:0;
    width: 100%;
}
.hide:checked + label {
    color:#000;
    z-index:1;
}
.hide:checked + label + .tab_content {
    display: block;
    color: #000;
    z-index: 1;
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1050px;
    /* background: #343436; */
    /* width: 100%; */
}
label{
    margin: 2px;
}


.tabs_container1 {
    background: #343436;
    font-size: 20px;
}
.hide1, .tab_content1{
    width: 100%;
}
.hide + label {
    display:inline-block;
    color :#fff;
    order:0;
    width: 100%;
}
.hide1:checked + label {
    color:#000;
    z-index:1;
}
.hide:checked + .tab_content1 + label{
    display: block;
    color: #000;
    z-index: 1;
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1050px;
    /* background: #343436; */
    /* width: 100%; */
}
/* */
.tab {
width: 100%;
display: flex;
align-items: flex-start;
padding: 5px 10px;
cursor: pointer;
flex-direction: column;
transition: 0.3s;
box-sizing: border-box;
}
.active-tab {
background: #C9C9C9;
}
.tabContent {
max-width: 900px;
width: 100%;
background: #F0F0F0;
padding: 10px;
min-height: 400px;
}
.hide {
display: none;
}
.show {
display: block;
}

/* avatar */
.avatar_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar_form > input{
    padding: 5px;
}
.hide_avatar > li{
    display: none;
}
.hide_avatar:hover > li{
    display: block;
}
.option_wrap{
    background: #343436;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    padding: 5px;
}

/* addcharacter */
option{
    padding: 2px;
    color: #343436
}
input.input{
    padding: 5px;
    color: #343436
}
select{
    padding: 4px;
    color: #343436
}
input.submit{
    padding: 5px;
    background: #343436;
    border: #343436;
    font-size: 17px;
}
li.exit_add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

/*
ul.form-add > li{
    font-size: 21px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
*/
/* Footer */

footer{
    background: #343436;
}