/* =========== © 2016 Centroarts.com =========== */

/* Шапка */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
li{
    list-style: none;
    text-decoration: none;
}
li{
    /* font-size: 21px; */
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* margin: 10px; */
}
input{
    color:#fff;
}
img{
    margin: 10px;
}
.header {
max-width: 1920px;
width: 100%;
min-height: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.header-wrapper {
max-width: 1366px;
width: 100%;
min-height: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #666;
}
.header-menu-wrapper {
max-width: 1366px;
width: 100%;
min-height: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
background: #343436;
}
.head-menu {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}

/* header 1*/
.header_logo{
    align-items: center;
    display: flex;
    justify-content: center;
}
.link_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form > p{
    align-items: center;
    display: flex;
    justify-content: center;
}
form > li > input{
    padding: 5px;
}
input.submit{
    background: #343436;
    border: #343436;
}
input.submit:focus{
    border: #343436;
}

/* Аватарка */
.avatar-wrapp{
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: row;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.avatar img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px;
}
.hp-mp-st-bar{
background:#666;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
margin: 15px;
padding:5px;
}
.hp-bar{
    margin: 2px;
    background: red;
    width: 120px;
    height: 15px;
}
.mp-bar{
    margin: 2px;
    background: blue;
    width: 120px;
    height: 15px;
}
.st-bar{
    margin: 2px;
    background: green;
    width: 120px;
    height: 15px;
}
/* Map */
.map-wrapp{
display: flex;
justify-content: flex-end;
align-items: flex-end;
flex-direction: column;
margin: 5px;
}
.map img{
display: flex;
justify-content: flex-end;
align-items: flex-end;
flex-direction: column;
}
/* Menu */

.menu-wrapper{
	display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
    flex-direction: row;
    
}
/*.menu-list{
margin: 5px;
background: #343436;
border-radius: 50%;
width:120px;
height:120px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

/* stats*/
.content-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.stats-wrapp{
	background: #343436;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.status:focus .stats-wrapp{
    display:block;
}

.stats-list li{
    margin: 4px;
}
span{
	font-size: 20px;
}
.stats-wrapp-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stats-list{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
ul{
    margin-left: 10px;
    font-size: 17px;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.general-stats li{
	margin: 6px;
}
.text-status{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* skill */

.skill-wrapp{
	background: #343436;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.skill-list{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill-name{
	display: flex;
    width: 100px;
    height: 100px;
    background: #666;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.skill-desc{
    display: flex;
    height: 100px;
	margin: 10px;
    width: 925px;
    background: #666;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* inventory */

.inventory-wrapp{
	background: #343436;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.inventory-slot{
	background: #666;
    margin: 6px;
    width: 60px;
    height: 60px;
}
.inventory-slot:hover{
-webkit-box-shadow: 0px 0px 8px 4px rgba(214,214,214,1);
-moz-box-shadow: 0px 0px 8px 4px rgba(214,214,214,1);
box-shadow: 0px 0px 8px 4px rgba(214,214,214,1);
cursor: pointer
}
.inventory-list{
    padding: 5px;
	display: flex;
    flex-wrap: wrap;
}
/* equipment */

.equipment-wrapp{
	background: #343436;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.equipment-list{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.equipment-list-main{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.equipment-link{
	background: #666;
    margin: 6px;
    width: 60px;
    height: 60px;
}
.equipment-list-art{
	background: #666;
    margin: 6px;
    width: 250px;
    height: 400px;
}
.equipment-list-side{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* guild */

.guild-wrapp{
    background: #343436;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.guild-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.guild-name{
   display: flex;
    width: 100px;
    height: 100px;
    background: #666;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.guild-desc{
    display: flex;
    width: 100%;
    height: 100px;
	margin: 10px;
    background: #666;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
/* Start-game-menu*/

.start-menu{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-list{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nick-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nick-name h2 {
    font-size: 20px;
}

.class-pers-tabs{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table{
    margin: 10px;
}
span{
}
a{
	text-decoration: none;
    font-size: 20px;
}
.right{
	margin:10px;
}
/* Боковая панель*/

.tabs_container {
    background: #343436;
    font-size: 20px;
}
.hide, .tab_content {
    display:none;
    width: 100%;
}
.hide + label {
    display:inline-block;
    color :#fff;
    order:0;
    width: 100%;
}
.hide:checked + label {
    color:#000;
    z-index:1;
}
.hide:checked + label + .tab_content {
    display: block;
    color: #000;
    z-index: 1;
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1050px;
    /* background: #343436; */
    /* width: 100%; */
}
label{
    margin: 2px;
}

/* */
.tab {
width: 100%;
display: flex;
align-items: flex-start;
padding: 5px 10px;
cursor: pointer;
flex-direction: column;
transition: 0.3s;
box-sizing: border-box;
}
.active-tab {
background: #C9C9C9;
}
.tabContent {
max-width: 900px;
width: 100%;
background: #F0F0F0;
padding: 10px;
min-height: 400px;
}
.hide {
display: none;
}
.show {
display: block;
}

/* avatar */
.avatar_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar_form > input{
    padding: 5px;
}
.hide_avatar > li{
    display: none;
}
.hide_avatar:hover > li{
    display: block;
}
.option_wrap{
    background: #343436;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    padding: 5px;
}
/* 
ul.form-add > li{
    font-size: 21px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}