*{
   font-size: 15px;
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   list-style: none;
   text-decoration: none;
   color: #fff;
   box-sizing: border-box;
   font-family: Roboto,sans-serif;
   transition: .2s ease;
}
body{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   background: #100f15;
}
button{
   background: #23232f;
   padding: 5px;
   margin: 3px 0;
}
textarea{
   height: 14%;
   width: 99%;
   margin: 2px;
   background: #16161e;
}
/*Room*/
.room{
   width: 100%;
   height: 99%;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
   padding: 5px;
}
.room-menu{
   width: 25%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
   margin: 5px;
   background: #23232f;
}
.menu__room-stats{
   display: flex;
   flex-direction: column;
   /* align-items: flex-start; */
   justify-content: center;
   padding: 5;
}
.menu__room-info{
   width: 100%;
   background: #16161e;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 5px;
   margin: 5px;
}

.room-block{
   width: 50%;
   background: #23232f;
   height: 100%;
   margin: 5px;
   padding: 5px;
}
.room-chat{
   width: 25%;
   background: #23232f;
   height: 80%;
   margin: 5px;
   padding: 5px;
}
.chat-window{
   background: #16161e;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.chat-window > li{
   background: #23232f;
   padding: 0 10px;
   margin: 3px;
}
.chat-block{
   background: #16161e;
   width: 100%;
   height: 75%;
   margin: 5 0;
   padding: 5px;
}
.line{
   background: #fff;
}


.user-avatar{
   width: 50px;
   height: 50px;
   /* margin: 0 5px; */
   display: flex;
   align-items: center;
}
.user-avatar > img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
   padding: 5px;
}

/*MainMenu*/

.menu{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
   padding: 5px;
}
.menu-room-room{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
}
.menu-room-user{
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
}  
.menu__user-info{
   width: 100%;
   background: #16161e;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
   margin: 5px;
}
.menu__user-navigation{
   width: 100%;
   background: #16161e;
   padding: 5px;
   margin: 5px;
}
.menu__user-navigation > li{
   background: #23232f;
   padding: 5px;
   margin: 5px;
}
.menu__user-profile{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.menu__user-update{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.menu__user-avatar{
   width: 100px;
   height: 100px;
   margin: 0 10px;
}
.menu__user-avatar > img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
   padding: 5px;
}
.menu__room-title{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin: 5px;
   padding: 5px;
   background: #16161e;
}
.menu__room-list{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 5px;
   padding: 5px;
   background: #16161e;
}
.menu_room-short{
   width: 100%;
   background: #23232f;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   padding: 5px;
}
.menu_room-short > li{
   margin-right: 10%;
   padding: 10px;

}
/*Stats*/
span{
   padding: 2px;
   font-weight: bold;
}
.stats > li{
   padding: 5px;
}
.stats__player-date{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
}
.stats-first{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}